@font-face {
  font-family: 'montserratblack';
  src: url("../Maxx/fonts/Montserrat_black/montserrat-black-webfont.eot");
  src: url("../Maxx/fonts/Montserrat_black/montserrat-black-webfont.eot?#iefix") format("embedded-opentype"), url("../Maxx/fonts/Montserrat_black/montserrat-black-webfont.woff2") format("woff2"), url("../Maxx/fonts/Montserrat_black/montserrat-black-webfont.woff") format("woff"), url("../Maxx/fonts/Montserrat_black/montserrat-black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../Maxx/fonts/iconmoon/fonts/icomoon.eot?5219cj");
  src: url("../Maxx/fonts/iconmoon/fonts/icomoon.eot?5219cj#iefix") format("embedded-opentype"), url("../Maxx/fonts/iconmoon/icomoon.ttf?5219cj") format("truetype"), url("../Maxx/fonts/iconmoon/icomoon.woff?5219cj") format("woff"), url("../Maxx/fonts/iconmoon/icomoon.svg?5219cj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-userpic:before {
  content: "\e900"; }

.icon-share:before {
  content: "\e901"; }

.icon-mail-2:before {
  content: "\e902"; }

.icon-mail:before {
  content: "\e903"; }

.icon-chat:before {
  content: "\e904"; }

.icon-magentosupport .path1:before {
  content: "\e905";
  color: #2a2c34; }

.icon-magentosupport .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: #a4947e; }

.icon-magentotraining .path1:before {
  content: "\e907";
  color: #a4947e; }

.icon-magentotraining .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: #a4947e; }

.icon-magentotraining .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: #a4947e; }

.icon-magentotraining .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path6:before {
  content: "\e90c";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path7:before {
  content: "\e90d";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path8:before {
  content: "\e90e";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path9:before {
  content: "\e90f";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path10:before {
  content: "\e910";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path11:before {
  content: "\e911";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path12:before {
  content: "\e912";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path13:before {
  content: "\e913";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path14:before {
  content: "\e914";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path15:before {
  content: "\e915";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path16:before {
  content: "\e916";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path17:before {
  content: "\e917";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path18:before {
  content: "\e918";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentotraining .path19:before {
  content: "\e919";
  margin-left: -1em;
  color: #a4947e; }

.icon-magentotraining .path20:before {
  content: "\e91a";
  margin-left: -1em;
  color: #a4947e; }

.icon-magentotraining .path21:before {
  content: "\e91b";
  margin-left: -1em;
  color: #a4947e; }

.icon-webmarketing .path1:before {
  content: "\e91c";
  color: #2a2c34; }

.icon-webmarketing .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: #a4947e; }

.icon-webmarketing .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: #a4947e; }

.icon-webmarketing .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: #a4947e; }

.icon-webmarketing .path5:before {
  content: "\e920";
  margin-left: -1em;
  color: #a4947e; }

.icon-webmarketing .path6:before {
  content: "\e921";
  margin-left: -1em;
  color: #a4947e; }

.icon-webmarketing .path7:before {
  content: "\e922";
  margin-left: -1em;
  color: #2a2c34; }

.icon-webmarketing .path8:before {
  content: "\e923";
  margin-left: -1em;
  color: #2a2c34; }

.icon-webmarketing .path9:before {
  content: "\e924";
  margin-left: -1em;
  color: #2a2c34; }

.icon-webmarketing .path10:before {
  content: "\e925";
  margin-left: -1em;
  color: #2a2c34; }

.icon-webmarketing .path11:before {
  content: "\e926";
  margin-left: -1em;
  color: #2a2c34; }

.icon-webmarketing .path12:before {
  content: "\e927";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentosystemadministration .path1:before {
  content: "\e928";
  color: #2a2c34; }

.icon-magentosystemadministration .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: #a4947e; }

.icon-magentosystemadministration .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: #a4947e; }

.icon-magentosystemadministration .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: #a4947e; }

.icon-magentosystemadministration .path5:before {
  content: "\e92c";
  margin-left: -1em;
  color: #a4947e; }

.icon-magentosystemadministration .path6:before {
  content: "\e92d";
  margin-left: -1em;
  color: #a4947e; }

.icon-magentosystemadministration .path7:before {
  content: "\e92e";
  margin-left: -1em;
  color: #a4947e; }

.icon-magentosystemadministration .path8:before {
  content: "\e92f";
  margin-left: -1em;
  color: #2a2c34; }

.icon-magentosystemadministration .path9:before {
  content: "\e930";
  margin-left: -1em;
  color: #2a2c34; }

.icon-security .path1:before {
  content: "\e931";
  color: #a4947e; }

.icon-security .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: #2a2c34; }

.icon-security .path3:before {
  content: "\e933";
  margin-left: -1em;
  color: #2a2c34; }

.icon-security .path4:before {
  content: "\e934";
  margin-left: -1em;
  color: #2a2c34; }

.icon-m-commece .path1:before {
  content: "\e935";
  color: #a4947e; }

.icon-m-commece .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: #a4947e; }

.icon-m-commece .path3:before {
  content: "\e937";
  margin-left: -1em;
  color: #a4947e; }

.icon-m-commece .path4:before {
  content: "\e938";
  margin-left: -1em;
  color: #2a2c34; }

.icon-m-commece .path5:before {
  content: "\e939";
  margin-left: -1em;
  color: #2a2c34; }

.icon-m-commece .path6:before {
  content: "\e93a";
  margin-left: -1em;
  color: #a4947e; }

.icon-m-commece .path7:before {
  content: "\e93b";
  margin-left: -1em;
  color: #2a2c34; }

.icon-m-commece .path8:before {
  content: "\e93c";
  margin-left: -1em;
  color: #2a2c34; }

.icon-omnichannel .path1:before {
  content: "\e93d";
  color: #a4947e; }

.icon-omnichannel .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: #2a2c34; }

.icon-omnichannel .path3:before {
  content: "\e93f";
  margin-left: -1em;
  color: #2a2c34; }

.icon-omnichannel .path4:before {
  content: "\e940";
  margin-left: -1em;
  color: #2a2c34; }

.icon-omnichannel .path5:before {
  content: "\e941";
  margin-left: -1em;
  color: #2a2c34; }

.icon-omnichannel .path6:before {
  content: "\e942";
  margin-left: -1em;
  color: #2a2c34; }

.icon-omnichannel .path7:before {
  content: "\e943";
  margin-left: -1em;
  color: #2a2c34; }

.icon-omnichannel .path8:before {
  content: "\e944";
  margin-left: -1em;
  color: #2a2c34; }

.icon-omnichannel .path9:before {
  content: "\e945";
  margin-left: -1em;
  color: #2a2c34; }

.icon-omnichannel .path10:before {
  content: "\e946";
  margin-left: -1em;
  color: #2a2c34; }

.icon-omnichannel .path11:before {
  content: "\e947";
  margin-left: -1em;
  color: #2a2c34; }

.icon-omnichannel .path12:before {
  content: "\e948";
  margin-left: -1em;
  color: #2a2c34; }

.icon-omnichannel .path13:before {
  content: "\e949";
  margin-left: -1em;
  color: #2a2c34; }

.icon-omnichannel .path14:before {
  content: "\e94a";
  margin-left: -1em;
  color: #2a2c34; }

.icon-omnichannel .path15:before {
  content: "\e94b";
  margin-left: -1em;
  color: #2a2c34; }

.icon-multi-channel .path1:before {
  content: "\e94c";
  color: #a4947e; }

.icon-multi-channel .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path3:before {
  content: "\e94e";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path4:before {
  content: "\e94f";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path5:before {
  content: "\e950";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path6:before {
  content: "\e951";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path7:before {
  content: "\e952";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path8:before {
  content: "\e953";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path9:before {
  content: "\e954";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path10:before {
  content: "\e955";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path11:before {
  content: "\e956";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path12:before {
  content: "\e957";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path13:before {
  content: "\e958";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path14:before {
  content: "\e959";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path15:before {
  content: "\e95a";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path16:before {
  content: "\e95b";
  margin-left: -1em;
  color: #a4947e; }

.icon-multi-channel .path17:before {
  content: "\e95c";
  margin-left: -1em;
  color: #2a2c34; }

.icon-fullcycleintegration .path1:before {
  content: "\e95d";
  color: #a4947e; }

.icon-fullcycleintegration .path2:before {
  content: "\e95e";
  margin-left: -1em;
  color: #2a2c34; }

.icon-fullcycleintegration .path3:before {
  content: "\e95f";
  margin-left: -1em;
  color: #2a2c34; }

.icon-fullcycleintegration .path4:before {
  content: "\e960";
  margin-left: -1em;
  color: #2a2c34; }

.icon-fullcycleintegration .path5:before {
  content: "\e961";
  margin-left: -1em;
  color: #2a2c34; }

.icon-fullcycleintegration .path6:before {
  content: "\e962";
  margin-left: -1em;
  color: #2a2c34; }

.icon-fullcycleintegration .path7:before {
  content: "\e963";
  margin-left: -1em;
  color: #2a2c34; }

.icon-fullcycleintegration .path8:before {
  content: "\e964";
  margin-left: -1em;
  color: #2a2c34; }

.icon-fullcycleintegration .path9:before {
  content: "\e965";
  margin-left: -1em;
  color: #2a2c34; }

.icon-fullcycleintegration .path10:before {
  content: "\e966";
  margin-left: -1em;
  color: #2a2c34; }

.icon-Magentodev .path1:before {
  content: "\e967";
  color: #a4947e; }

.icon-Magentodev .path2:before {
  content: "\e968";
  margin-left: -1em;
  color: #a4947e; }

.icon-Magentodev .path3:before {
  content: "\e969";
  margin-left: -1em;
  color: #a4947e; }

.icon-Magentodev .path4:before {
  content: "\e96a";
  margin-left: -1em;
  color: #a4947e; }

.icon-Magentodev .path5:before {
  content: "\e96b";
  margin-left: -1em;
  color: #a4947e; }

.icon-Magentodev .path6:before {
  content: "\e96c";
  margin-left: -1em;
  color: #a4947e; }

.icon-Magentodev .path7:before {
  content: "\e96d";
  margin-left: -1em;
  color: #a4947e; }

.icon-Magentodev .path8:before {
  content: "\e96e";
  margin-left: -1em;
  color: #2a2c34; }

.icon-Magentodev .path9:before {
  content: "\e96f";
  margin-left: -1em;
  color: #2a2c34; }

.icon-Magentodev .path10:before {
  content: "\e970";
  margin-left: -1em;
  color: #2a2c34; }

.icon-Magentodev .path11:before {
  content: "\e971";
  margin-left: -1em;
  color: #2a2c34; }

.icon-Magentodev .path12:before {
  content: "\e972";
  margin-left: -1em;
  color: #2a2c34; }

.icon-design .path1:before {
  content: "\e973";
  color: #a4947e; }

.icon-design .path2:before {
  content: "\e974";
  margin-left: -1em;
  color: #a4947e; }

.icon-design .path3:before {
  content: "\e975";
  margin-left: -1em;
  color: #a4947e; }

.icon-design .path4:before {
  content: "\e976";
  margin-left: -1em;
  color: #a4947e; }

.icon-design .path5:before {
  content: "\e977";
  margin-left: -1em;
  color: #2a2c34; }

.icon-design .path6:before {
  content: "\e978";
  margin-left: -1em;
  color: #2a2c34; }

.icon-design .path7:before {
  content: "\e979";
  margin-left: -1em;
  color: #2a2c34; }

.icon-design .path8:before {
  content: "\e97a";
  margin-left: -1em;
  color: #2a2c34; }

.icon-design .path9:before {
  content: "\e97b";
  margin-left: -1em;
  color: #2a2c34; }

.icon-design .path10:before {
  content: "\e97c";
  margin-left: -1em;
  color: #2a2c34; }

.icon-design .path11:before {
  content: "\e97d";
  margin-left: -1em;
  color: #2a2c34; }

.icon-design .path12:before {
  content: "\e97e";
  margin-left: -1em;
  color: #2a2c34; }

.icon-design .path13:before {
  content: "\e97f";
  margin-left: -1em;
  color: #2a2c34; }

.icon-stscreendesign:before {
  content: "\e980"; }

.icon-stscreenfullcycleintegration:before {
  content: "\e981"; }

.icon-stscreenwebmarketing:before {
  content: "\e982"; }

.icon-stscreenmagentosystemadministration:before {
  content: "\e983"; }

.icon-stscreenomnichannel:before {
  content: "\e984"; }

.icon-hamburger:before {
  content: "\e985"; }
