@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/open_sansregular/open_sans-webfont.eot");
  src: url("../fonts/open_sansregular/open_sans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open_sansregular/open_sans-webfont.woff2") format("woff2"), url("../fonts/open_sansregular/open_sans-webfont.woff") format("woff"), url("../fonts/open_sansregular/open_sans-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/open_sans_light/open_sans_light-webfont.eot");
  src: url("../fonts/open_sans_light/open_sans_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open_sans_light/open_sans_light-webfont.woff2") format("woff2"), url("../fonts/open_sans_light/open_sans_light-webfont.woff") format("woff"), url("../fonts/open_sans_light/open_sans_light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/open_sans_bold/open_sans_bold-webfont.eot");
  src: url("../fonts/open_sans_bold/open_sans_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open_sans_bold/open_sans_bold-webfont.woff2") format("woff2"), url("../fonts/open_sans_bold/open_sans_bold-webfont.woff") format("woff"), url("../fonts/open_sans_bold/open_sans_bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansextrabold';
  src: url("../fonts/open_sans_extrabold/open_sans_extrabold-webfont.eot");
  src: url("../fonts/open_sans_extrabold/open_sans_extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open_sans_extrabold/open_sans_extrabold-webfont.woff2") format("woff2"), url("../fonts/open_sans_extrabold/open_sans_extrabold-webfont.woff") format("woff"), url("../fonts/open_sans_extrabold/open_sans_extrabold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../open_sans_semibold/open_sans_semibold-webfont.eot");
  src: url("../open_sans_semibold/open_sans_semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../open_sans_semibold/open_sans_semibold-webfont.woff2") format("woff2"), url("../open_sans_semibold/open_sans_semibold-webfont.woff") format("woff"), url("../open_sans_semibold/open_sans_semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("../fonts/proxima_nova_rgregular/proxima_nova_regular-webfont.eot");
  src: url("../fonts/proxima_nova_rgregular/proxima_nova_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_rgregular/proxima_nova_regular-webfont.woff2") format("woff2"), url("../fonts/proxima_nova_rgregular/proxima_nova_regular-webfont.woff") format("woff"), url("../fonts/proxima_nova_rgregular/proxima_nova_regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_blblack';
  src: url("../fonts/proxima_nova_black/proxima_nova_black-webfont.eot");
  src: url("../fonts/proxima_nova_black/proxima_nova_black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_black/proxima_nova_black-webfont.woff2") format("woff2"), url("../fonts/proxima_nova_black/proxima_nova_black-webfont.woff") format("woff"), url("../fonts/proxima_nova_black/proxima_nova_black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url("../fonts/proxima_nova_light/proxima_nova_light-webfont.eot");
  src: url("../fonts/proxima_nova_light/proxima_nova_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_light/proxima_nova_light-webfont.woff2") format("woff2"), url("../fonts/proxima_nova_light/proxima_nova_light-webfont.woff") format("woff"), url("../fonts/proxima_nova_light/proxima_nova_light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("../fonts/proxima_nova_bold/proxima_nova_bold-webfont.eot");
  src: url("../fonts/proxima_nova_bold/proxima_nova_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_bold/proxima_nova_bold-webfont.woff2") format("woff2"), url("../fonts/proxima_nova_bold/proxima_nova_bold-webfont.woff") format("woff"), url("../fonts/proxima_nova_bold/proxima_nova_bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'crookedregular';
  src: url("../fonts/crooked/crooked-webfont.eot");
  src: url("../fonts/crooked/crooked-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/crooked/crooked-webfont.woff2") format("woff2"), url("../fonts/crooked/crooked-webfont.woff") format("woff"), url("../fonts/crooked/crooked-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'atvicebold';
  src: url("../fonts/atvice/atvice-webfont.eot");
  src: url("../fonts/atvice/atvice-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/atvice/atvice-webfont.woff2") format("woff2"), url("../fonts/atvice/atvice-webfont.woff") format("woff"), url("../fonts/atvice/atvice-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'savaro_stencilregular';
  src: url("../fonts/savaro/savaro_stencil_demo-webfont.eot");
  src: url("../fonts/savaro/savaro_stencil_demo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/savaro/savaro_stencil_demo-webfont.woff2") format("woff2"), url("../fonts/savaro/savaro_stencil_demo-webfont.woff") format("woff"), url("../fonts/savaro/savaro_stencil_demo-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icon_charaktericstick/icomoon.eot?d0adj");
  src: url("../fonts/icon_charaktericstick/icomoon.eot?d0adj#iefix") format("embedded-opentype"), url("../fonts/icon_charaktericstick/icomoon.ttf?d0adj") format("truetype"), url("../fonts/icon_charaktericstick/icomoon.woff?d0adj") format("woff"), url("../fonts/icon_charaktericstick/icomoon.svg?d0adj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pc:before {
  content: "\e91a"; }

.icon-tele:before {
  content: "\e918"; }

.icon-hdd:before {
  content: "\e915"; }

.icon-cooler:before {
  content: "\e916"; }

.icon-chip:before {
  content: "\e917"; }

.icon-repair:before {
  content: "\e90d"; }

.icon-money:before {
  content: "\e901"; }

.icon-delivery:before {
  content: "\e902"; }

.icon-warranty:before {
  content: "\e903"; }

.icon-heart:before {
  content: "\e914"; }

.icon-fbConverted:before {
  content: "\e913"; }

.icon-twitterConverted:before {
  content: "\e911"; }

.icon-pinterestConverted:before {
  content: "\e912"; }

.icon-mail:before {
  content: "\e910"; }

.icon-search:before {
  content: "\e90f"; }

.icon-hue:before {
  content: "\e90a"; }

.icon-user:before {
  content: "\e90b"; }

.icon-e-commerce:before {
  content: "\e90c"; }

.icon-arrow:before {
  content: "\e909"; }

.icon-mpx:before {
  content: "\e905"; }

.icon-brigthness:before {
  content: "\e906"; }

.icon-monitor:before {
  content: "\e907"; }

.icon-share:before {
  content: "\e908"; }

.icon-star-empty:before {
  content: "\e90e"; }

.icon-star-full:before {
  content: "\e900"; }

.icon-cross:before {
  content: "\e919"; }

.icon-ctrl:before {
  content: "\e904"; }
