@keyframes myAnimation {
  0% {
    -webkit-transform: translate(100px, 0); }
  100% {
    -webkit-transform: translate(0px, 0px); } }

@-webkit-keyframes myAnimation {
  0% {
    -webkit-transform: translate(100px, 0); }
  100% {
    -webkit-transform: translate(0px, 0px); } }

@-moz-keyframes myAnimation {
  0% {
    -moz-transform: translate(100px, 0); }
  100% {
    -moz-transform: translate(0px, 0px); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes myscale {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes myscale {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@keyframes myscale {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@keyframes myhover {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: #b11313; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #b11313; } }

@-webkit-keyframes myhover {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #b11313; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #b11313; } }

@-moz-keyframes myhover {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #b11313; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #b11313; } }

@-ms-keyframes myhover {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #b11313; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #b11313; } }

body {
  font-family: "open_sansregular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-width: 320px;
  background-color: #232323;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

hr {
  background-color: #8b8b8b;
  border-style: inset;
  margin: 0 0 10px 0;
  max-width: 833px; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

i {
  font-family: 'FontAwesome';
  font-style: normal; }

a:hover {
  text-decoration: none	!important; }

.border_none {
  border: none !important; }

.margin {
  margin-bottom: -30px; }

.hidden {
  display: none; }

.header {
  height: 125px;
  padding-top: 50px; }
  .header .top_head {
    height: 50px;
    background-color: #ff4132; }
    .header .top_head.fix_head {
      position: fixed;
      top: 0;
      z-index: 99;
      left: 0;
      right: 0; }
    .header .top_head .left_menu_icons {
      padding: 0;
      margin: 0; }
      .header .top_head .left_menu_icons ul {
        margin: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        -o-justify-content: flex-start; }
        .header .top_head .left_menu_icons ul li {
          display: inline-block;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          align-items: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -o-align-items: center;
          justify-content: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          -o-justify-content: center;
          height: 50px;
          vertical-align: top;
          text-align: center;
          width: 50px;
          border-left: 1px solid #b11313; }
          .header .top_head .left_menu_icons ul li a {
            font-family: 'proxima_nova_rgregular';
            font-weight: 700;
            width: 30px;
            height: 20px;
            display: block;
            color: #b11212;
            font-size: 20px; }
          .header .top_head .left_menu_icons ul li:first-child {
            text-indent: 0;
            width: 160px;
            font-size: 20px; }
            .header .top_head .left_menu_icons ul li:first-child a {
              color: #b11313;
              width: 160px;
              font-size: 16px;
              padding-left: 5px; }
              .header .top_head .left_menu_icons ul li:first-child a span {
                font-size: 24px; }
              .header .top_head .left_menu_icons ul li:first-child a i {
                font-size: 16px;
                font-family: 'proxima_nova_rgregular';
                vertical-align: top;
                display: inline-block;
                padding-top: 5px; }
          .header .top_head .left_menu_icons ul li:last-child {
            border-right: 1px solid #b11313;
            width: 54px; }
    .header .top_head .right_menu_icons {
      text-align: right; }
      .header .top_head .right_menu_icons ul {
        margin: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
        -o-justify-content: flex-end; }
        .header .top_head .right_menu_icons ul li {
          display: inline-block;
          height: 50px;
          vertical-align: top;
          text-align: center;
          width: 50px;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          align-items: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -o-align-items: center;
          justify-content: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          -o-justify-content: center;
          border-left: 1px solid #b11313; }
          .header .top_head .right_menu_icons ul li a {
            color: #b11212;
            font-size: 12px;
            font-weight: 600;
            line-height: 46px;
            width: 20px;
            height: 20px;
            display: block;
            text-align: left; }
            .header .top_head .right_menu_icons ul li a span {
              color: #b11313;
              font-size: 22px;
              display: block; }
            .header .top_head .right_menu_icons ul li a i {
              text-indent: -9999px; }
          .header .top_head .right_menu_icons ul li:last-child {
            text-indent: 0;
            display: inline-block;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-around;
            -webkit-justify-content: space-around;
            -moz-justify-content: space-around;
            -ms-justify-content: space-around;
            -o-justify-content: space-around;
            width: 145px;
            text-align: left;
            padding-left: 6px;
            border-right: 1px solid #b11313;
            position: relative; }
            .header .top_head .right_menu_icons ul li:last-child span {
              vertical-align: middle;
              color: #b11313;
              font-size: 22px; }
            .header .top_head .right_menu_icons ul li:last-child a {
              display: inline-block;
              line-height: 22px;
              width: 46px;
              padding-left: 0;
              vertical-align: top; }
              .header .top_head .right_menu_icons ul li:last-child a.log_in:after {
                content: "";
                display: inline-block;
                width: 2px;
                height: 12px;
                background: #b11212 none repeat scroll 0% 0%;
                position: absolute;
                top: 40%;
                right: 40%; }
  .header .main_head {
    height: 75px;
    background-color: #1b1b1b; }
    .header .main_head .pos_relative {
      position: relative; }
    .header .main_head .logo {
      width: 160px;
      text-align: center;
      vertical-align: middle;
      padding-top: 7px;
      animation: myopacity 12s; }
      .header .main_head .logo a strong {
        background-image: url("../images/logo.png");
        text-indent: -9999px;
        display: inline-block;
        width: 107px;
        height: 52px; }
    .header .main_head .navbar {
      padding-top: 25px; }
      .header .main_head .navbar .nav {
        text-align: left;
        display: flex;
        justify-content: space-between;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        width: 100%;
        position: static; }
        .header .main_head .navbar .nav li {
          position: static; }
          .header .main_head .navbar .nav li .wrap_triangle_megalodon {
            position: absolute;
            top: 14px;
            width: 20px;
            height: 20px;
            display: none; }
            .header .main_head .navbar .nav li .wrap_triangle_megalodon.open {
              display: block; }
            .header .main_head .navbar .nav li .wrap_triangle_megalodon .triangle {
              background: #0077b9; }
              .header .main_head .navbar .nav li .wrap_triangle_megalodon .triangle::after {
                content: '';
                position: absolute;
                left: 20px;
                bottom: -20px;
                border: 10px solid transparent;
                border-bottom: 10px solid #0077b9; }
          .header .main_head .navbar .nav li .wrap_triangle_trex {
            position: absolute;
            top: 35px;
            width: 20px;
            height: 20px;
            display: none; }
            .header .main_head .navbar .nav li .wrap_triangle_trex.open {
              display: block; }
            .header .main_head .navbar .nav li .wrap_triangle_trex .triangle {
              background: #ff1717; }
              .header .main_head .navbar .nav li .wrap_triangle_trex .triangle::after {
                content: '';
                position: absolute;
                left: 20px;
                bottom: -20px;
                border: 10px solid transparent;
                border-bottom: 10px solid #ff1717; }
          .header .main_head .navbar .nav li .wrap_triangle_modding {
            position: absolute;
            top: 35px;
            width: 20px;
            height: 20px;
            display: none; }
            .header .main_head .navbar .nav li .wrap_triangle_modding.open {
              display: block; }
            .header .main_head .navbar .nav li .wrap_triangle_modding .triangle {
              background: #ff1717; }
              .header .main_head .navbar .nav li .wrap_triangle_modding .triangle::after {
                content: '';
                position: absolute;
                left: 20px;
                bottom: -20px;
                border: 10px solid transparent;
                border-bottom: 10px solid #ff1717; }
          .header .main_head .navbar .nav li .wrap_triangle_vraptor {
            position: absolute;
            top: 35px;
            width: 20px;
            height: 20px;
            display: none; }
            .header .main_head .navbar .nav li .wrap_triangle_vraptor.open {
              display: block; }
            .header .main_head .navbar .nav li .wrap_triangle_vraptor .triangle {
              background: #ff5616; }
              .header .main_head .navbar .nav li .wrap_triangle_vraptor .triangle::after {
                content: '';
                position: absolute;
                left: 20px;
                bottom: -20px;
                border: 10px solid transparent;
                border-bottom: 10px solid #ff5616; }
          .header .main_head .navbar .nav li a {
            color: #fff;
            font-size: 22px;
            font-weight: 400;
            text-align: left; }
            .header .main_head .navbar .nav li a.t-rex:focus {
              color: #ff1717; }
            .header .main_head .navbar .nav li a.t-rex:hover {
              color: #ff1717; }
            .header .main_head .navbar .nav li a.megalodon {
              position: relative; }
              .header .main_head .navbar .nav li a.megalodon:focus {
                color: #0077b9; }
              .header .main_head .navbar .nav li a.megalodon:hover {
                color: #0077b9; }
            .header .main_head .navbar .nav li a.vraptor:focus {
              color: #ff5616; }
            .header .main_head .navbar .nav li a.vraptor:hover {
              color: #ff5616; }
          .header .main_head .navbar .nav li.T-Rex {
            padding-left: 2%; }
          .header .main_head .navbar .nav li .wrap_menu {
            top: 75px;
            height: 100%;
            position: absolute;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: flex-center;
            display: -webkit-flex;
            -webkit-justify-content: center;
            display: -moz-flex;
            -moz-justify-content: center;
            display: -ms-flex;
            -ms-justify-content: center;
            z-index: 11; }
            .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu {
              height: 600px;
              z-index: 9; }
              .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_modding {
                display: none;
                opacity: 0;
                -webkit-opacity: 0;
                -khtml-opacity: 0;
                -moz-opacity: 0;
                filter: alpha(opacity=0);
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
                -webkit-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                transition-duration: 0.5s; }
                .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_modding.open {
                  opacity: 1;
                  -webkit-opacity: 1;
                  -khtml-opacity: 1;
                  -moz-opacity: 1;
                  filter: alpha(opacity=10);
                  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
                  display: block;
                  position: absolute;
                  left: -20.5%; }
              .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_trex {
                display: none;
                opacity: 0;
                -webkit-opacity: 0;
                -khtml-opacity: 0;
                -moz-opacity: 0;
                filter: alpha(opacity=0);
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
                -webkit-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                transition-duration: 0.5s; }
                .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_trex.open {
                  opacity: 1;
                  -webkit-opacity: 1;
                  -khtml-opacity: 1;
                  -moz-opacity: 1;
                  filter: alpha(opacity=10);
                  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
                  display: block;
                  position: absolute;
                  left: -20.5%; }
              .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor {
                left: -215px;
                display: none;
                opacity: 0;
                -webkit-opacity: 0;
                -khtml-opacity: 0;
                -moz-opacity: 0;
                filter: alpha(opacity=0);
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
                -webkit-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                transition-duration: 0.5s; }
                .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor.open {
                  display: block;
                  opacity: 1;
                  -webkit-opacity: 1;
                  -khtml-opacity: 1;
                  -moz-opacity: 1;
                  filter: alpha(opacity=10);
                  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
                  position: absolute;
                  left: -20.5%; }
                .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu {
                  border-top: 3px solid #ff5616; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .wrap_triangle {
                    left: 19%; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .wrap_triangle .triangle {
                      background-color: #ff5616; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .wrap_triangle .triangle::after {
                        border-bottom: 10px solid #ff5616; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .side_menu {
                    background-color: #ff5616; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .side_menu .wrap_head {
                      color: #fefefe;
                      display: block;
                      padding: 35px 20px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .side_menu .wrap_head h2 {
                        font-size: 65px;
                        font-family: 'crookedregular'; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .side_menu .menu_series ul li {
                      position: relative; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .side_menu .menu_series ul li a {
                        font-family: 'crookedregular';
                        color: #ff5616;
                        font-size: 50px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .side_menu .menu_series ul li i {
                        opacity: 0;
                        -webkit-opacity: 0;
                        -khtml-opacity: 0;
                        -moz-opacity: 0;
                        filter: alpha(opacity=0);
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
                        transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                        position: absolute;
                        right: 8%;
                        top: 28px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .side_menu .menu_series ul li:hover i {
                        opacity: 1;
                        -webkit-opacity: 1;
                        -khtml-opacity: 1;
                        -moz-opacity: 1;
                        filter: alpha(opacity=10);
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)"; }
                        .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .side_menu .menu_series ul li:hover i.icon-ctrl {
                          color: #ff5616;
                          font-size: 30px; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .banner {
                    background: url(../images/vraptor_bg_menu.jpg) no-repeat 0% 0%/cover; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .banner .wrap_text h2 {
                      font-family: 'crookedregular';
                      color: #ff5616;
                      font-size: 120px; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .banner .wrap_text h3 {
                      font-family: 'crookedregular'; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .banner .wrap_button .button {
                      background-color: #ff5616;
                      display: inline-block;
                      padding-top: 4px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .banner .wrap_button .button::after {
                        background: #f04200 url("../images/arrow_btn.png") no-repeat scroll 50% 50%; }
              .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon {
                left: -404px;
                display: none;
                opacity: 0;
                -webkit-opacity: 0;
                -khtml-opacity: 0;
                -moz-opacity: 0;
                filter: alpha(opacity=0);
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
                -webkit-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                transition-duration: 0.5s; }
                .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon.open {
                  display: block;
                  opacity: 1;
                  -webkit-opacity: 1;
                  -khtml-opacity: 1;
                  -moz-opacity: 1;
                  filter: alpha(opacity=10);
                  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
                  position: absolute;
                  left: -20.5%; }
                .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon .trex_drop_menu {
                  border-top: 3px solid #0077b9; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon .trex_drop_menu .side_menu {
                    background-color: #0077b9; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon .trex_drop_menu .side_menu .wrap_head {
                      color: #fefefe;
                      display: inline-block;
                      padding: 35px 10px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon .trex_drop_menu .side_menu .wrap_head h2 {
                        font-size: 35px;
                        font-family: 'atvicebold'; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon .trex_drop_menu .side_menu .menu_series ul li {
                      position: relative; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon .trex_drop_menu .side_menu .menu_series ul li a {
                        font-family: 'atvicebold';
                        color: #0077b9;
                        font-size: 30px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon .trex_drop_menu .side_menu .menu_series ul li i {
                        opacity: 0;
                        -webkit-opacity: 0;
                        -khtml-opacity: 0;
                        -moz-opacity: 0;
                        filter: alpha(opacity=0);
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
                        transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                        position: absolute;
                        right: 3%;
                        top: 28px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon .trex_drop_menu .side_menu .menu_series ul li:hover i {
                        opacity: 1;
                        -webkit-opacity: 1;
                        -khtml-opacity: 1;
                        -moz-opacity: 1;
                        filter: alpha(opacity=10);
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)"; }
                        .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon .trex_drop_menu .side_menu .menu_series ul li:hover i.icon-ctrl {
                          color: #0077b9;
                          font-size: 30px;
                          height: 30px;
                          width: 30px;
                          display: inline-block; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon .trex_drop_menu .banner {
                    background: url(../images/megalodon_bg_menu.jpg) no-repeat 0% 0%/cover; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon .trex_drop_menu .banner .wrap_text h2 {
                      font-family: 'atvicebold';
                      color: #0077b9;
                      font-size: 80px; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon .trex_drop_menu .banner .wrap_text h3 {
                      font-family: 'atvicebold'; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon .trex_drop_menu .banner .wrap_button .button {
                      background-color: #0077b9;
                      display: inline-block;
                      padding-top: 4px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon .trex_drop_menu .banner .wrap_button .button::after {
                        background: #0063af url("../images/arrow_btn.png") no-repeat scroll 50% 50%; }
              .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.open {
                display: block; }
              .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu {
                display: flex;
                display: -webkit-flex;
                flex-direction: row;
                justify-content: space-between;
                -webkit-flex-direction: row;
                -webkit-justify-content: space-between;
                width: 100%;
                height: 100%;
                position: relative;
                border-top: 3px solid #ff1717; }
                .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding {
                  background-color: #121212; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .wrap_triangle {
                    left: 87%; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .catalog {
                    padding: 15px; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .catalog .column_category_item .category_item {
                      color: #fff;
                      margin-bottom: 40px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .catalog .column_category_item .category_item strong {
                        font-size: 14px;
                        text-transform: uppercase;
                        font-family: 'open_sansbold';
                        margin-bottom: 20px;
                        display: block; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .catalog .column_category_item .category_item ul li {
                        display: block;
                        margin-bottom: 17px;
                        font-size: 14px;
                        line-height: 1.4;
                        cursor: pointer;
                        opacity: 0.7;
                        -webkit-opacity: 0.7;
                        -khtml-opacity: 0.7;
                        -moz-opacity: 0.7;
                        filter: alpha(opacity=7);
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)"; }
                        .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .catalog .column_category_item .category_item ul li span {
                          font-size: 9px;
                          background-color: #d70606;
                          border-radius: 6px;
                          margin-left: 5px;
                          padding: 3px;
                          text-transform: uppercase; }
                        .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .catalog .column_category_item .category_item ul li .icon_ctrl {
                          -webkit-transform: rotate(45deg);
                          transform: rotate(45deg);
                          display: none; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding {
                    padding: 10px;
                    flex: 1 1 100px;
                    -webkit-flex: 1 1 100px; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo {
                      border: 3px solid #ff4132;
                      padding: 20px 12px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .wrap_head {
                        border-bottom: 1px solid #5e5e5e;
                        padding-bottom: 7px; }
                        .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .wrap_head h4 {
                          font-family: 'proxima_nova_blblack';
                          font-size: 24px;
                          color: #ff1717;
                          font-weight: 100; }
                          .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .wrap_head h4 span {
                            color: #424242;
                            float: right; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo {
                        margin: 5px auto; }
                        .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer {
                          padding: 12px 20px 14px 22px;
                          border-bottom: 1px solid #5e5e5e;
                          display: flex;
                          justify-content: space-between;
                          display: -webkit-flex;
                          -webkit-justify-content: space-between;
                          display: -ms-flex;
                          -ms-justify-content: space-between;
                          display: -moz-flex;
                          -moz-justify-content: space-between; }
                          .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer .text {
                            display: inline-block;
                            width: 42%;
                            text-align: center;
                            color: #fff; }
                            .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer .text h5 {
                              font-size: 24px;
                              font-family: 'open_sansextrabold';
                              font-weight: 100;
                              margin-bottom: 8px; }
                          .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer .timer {
                            vertical-align: top;
                            display: inline-block; }
                            .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer .timer .countdownHolder {
                              width: 158px;
                              height: 80px;
                              margin-top: -20px; }
                            .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer .timer .countDays {
                              position: relative;
                              margin-right: 3px; }
                              .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer .timer .countDays:after {
                                content: "Days";
                                position: absolute;
                                bottom: -16px;
                                letter-spacing: 1px;
                                left: 0;
                                width: 40px;
                                height: 20px;
                                color: #FFF;
                                font-size: 14px;
                                font-family: "proxima_nova_ltlight"; }
                            .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer .timer .countHours {
                              position: relative;
                              margin-right: 3px; }
                              .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer .timer .countHours:after {
                                content: "Hours";
                                position: absolute;
                                bottom: -16px;
                                letter-spacing: 1px;
                                left: 0;
                                width: 40px;
                                height: 20px;
                                color: #FFF;
                                font-size: 14px;
                                font-family: "proxima_nova_ltlight"; }
                            .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer .timer .countMinutes {
                              position: relative;
                              margin-right: 3px; }
                              .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer .timer .countMinutes:after {
                                content: "Minutes";
                                position: absolute;
                                bottom: -16px;
                                letter-spacing: 1px;
                                left: -6px;
                                width: 40px;
                                height: 20px;
                                color: #FFF;
                                font-size: 14px;
                                font-family: "proxima_nova_ltlight"; }
                            .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer .timer .countSeconds {
                              position: relative;
                              display: none; }
                              .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer .timer .countSeconds:after {
                                content: "Seconds";
                                position: absolute;
                                bottom: -16px;
                                letter-spacing: 1px;
                                left: -2px;
                                width: 40px;
                                height: 20px;
                                color: #FFF;
                                font-size: 14px;
                                font-family: "proxima_nova_ltlight"; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set {
                        padding: 10px 0 10px 16px; }
                        .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .wrap_img {
                          display: inline-block;
                          width: 40%;
                          margin-right: 3%; }
                        .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .side_info {
                          display: inline-block;
                          vertical-align: top;
                          width: 54%;
                          float: right;
                          padding-right: 15px; }
                          .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .side_info .head_model {
                            height: 36px;
                            margin-bottom: 14px; }
                            .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .side_info .head_model h6 {
                              font-family: 'proxima_nova_blblack';
                              font-size: 24px;
                              color: #fefefe;
                              font-weight: 100;
                              padding: 0;
                              display: inline-block; }
                            .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .side_info .head_model a {
                              font-size: 12px;
                              color: #d70606;
                              font-family: 'proxima_nova_blblack';
                              font-weight: 100;
                              cursor: pointer;
                              width: 70px; }
                              .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .side_info .head_model a i {
                                font-size: 8px;
                                margin-left: 3px; }
                              .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .side_info .head_model a:hover i {
                                margin-left: 4px; }
                          .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .side_info .wrap_characteristics {
                            display: inline-block;
                            vertical-align: bottom;
                            color: #898989; }
                            .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .side_info .wrap_characteristics p {
                              margin-top: 8px; }
                              .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .side_info .wrap_characteristics p span {
                                font-size: 25px;
                                padding-top: 5px;
                                width: 25px;
                                display: inline-block;
                                float: none; }
                              .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .side_info .wrap_characteristics p i {
                                display: inline-block;
                                vertical-align: top;
                                margin-left: 24px; }
                        .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .buy_now {
                          margin: 28px auto 0;
                          text-align: center;
                          width: 100%;
                          display: -webkit-flex;
                          display: -moz-flex;
                          display: -ms-flex;
                          display: -o-flex;
                          display: flex;
                          justify-content: space-between;
                          -webkit-justify-content: space-between;
                          -moz-justify-content: space-between;
                          -ms-justify-content: space-between;
                          -o-justify-content: space-between;
                          white-space: nowrap; }
                          .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .buy_now .price {
                            display: inline-block;
                            text-align: center; }
                            .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .buy_now .price small {
                              font-size: 18px;
                              color: #898989; }
                            .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .buy_now .price strong {
                              color: #fff;
                              font-family: 'proxima_nova_blblack';
                              font-size: 40px;
                              font-weight: 100; }
                          .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .buy_now .button {
                            background-color: #d70606;
                            border: none;
                            font-size: 20px;
                            color: #fff;
                            font-family: 'open_sansextrabold';
                            padding: 18px 45px;
                            margin-left: 15px;
                            vertical-align: top;
                            -webkit-transition-duration: 0.5s;
                            -o-transition-duration: 0.5s;
                            -moz-transition-duration: 0.5s;
                            transition-duration: 0.5s; }
                            .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .buy_now .button:hover {
                              opacity: 0.5;
                              -webkit-opacity: 0.5;
                              -khtml-opacity: 0.5;
                              -moz-opacity: 0.5;
                              filter: alpha(opacity=5);
                              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)"; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .s_sign_up {
                    margin-top: 10px; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .s_sign_up .sign_up {
                      border: 3px solid #8b8b8b;
                      margin: 0;
                      padding: 40px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .s_sign_up .sign_up .text p {
                        margin: 18px 0 15px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .s_sign_up .sign_up .wrap_button {
                        margin: 0; }
                .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .wrap_triangle {
                  position: absolute;
                  top: -42px;
                  left: 47%;
                  width: 20px;
                  height: 20px; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .wrap_triangle .triangle {
                    background: #ff1717;
                      background-border-radius: 10px;
                      background-padding: 20px;
                      background-position: relative;
                      background-color: #fff; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .wrap_triangle .triangle::after {
                      content: '';
                      position: absolute;
                      left: 20px;
                      bottom: -20px;
                      border: 10px solid transparent;
                      border-bottom: 10px solid #ff1717; }
                .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu {
                  background-color: #ff1717;
                  flex: 1 1 195px;
                  -webkit-flex: 1 1 195px;
                  padding: 7px; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .wrap_head {
                    padding: 35px 10px;
                    text-align: center; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .wrap_head h2 {
                      font-size: 50px;
                      font-family: 'savaro_stencilregular';
                      color: #fed0d0;
                      white-space: nowrap;
                      text-align: right; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .wrap_head p {
                      font-size: 14px;
                      color: #fff;
                      text-align: right;
                      white-space: nowrap; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .menu_series ul li {
                    position: relative;
                    display: block;
                    background-color: #1b1b1b;
                    padding: 36px 24px;
                    text-align: center;
                    margin-bottom: 7px;
                    height: 90px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    display: -webkit-flex;
                    -webkit-justify-content: center;
                    -webkit-align-items: center;
                    display: -ms-flex;
                    -ms-justify-content: center;
                    -ms-align-items: center;
                    display: -moz-flex;
                    -moz-justify-content: center;
                    -moz-align-items: center; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .menu_series ul li:first-child {
                      padding: 24px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .menu_series ul li:first-child a i {
                        top: 30%; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .menu_series ul li a {
                      font-size: 20px;
                      font-family: 'proxima_nova_blblack';
                      color: #ff1717;
                      text-transform: uppercase; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .menu_series ul li a span {
                        display: inline-block;
                        text-align: center; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .menu_series ul li a i {
                        opacity: 0;
                        -webkit-opacity: 0;
                        -khtml-opacity: 0;
                        -moz-opacity: 0;
                        filter: alpha(opacity=0);
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
                        transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                        position: absolute;
                        right: 3%;
                        top: 30px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .menu_series ul li a:hover i {
                        opacity: 1;
                        -webkit-opacity: 1;
                        -khtml-opacity: 1;
                        -moz-opacity: 1;
                        filter: alpha(opacity=10);
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)"; }
                        .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .menu_series ul li a:hover i.icon-ctrl {
                          color: #ff1717;
                          font-size: 30px;
                          height: 30px;
                          width: 30px;
                          display: inline-block; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .wrap_soc {
                    margin-top: 62px;
                    text-align: center; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .wrap_soc span {
                      font-size: 14px;
                      color: #1b1b1b; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .wrap_soc .soc {
                      margin-top: 10px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .wrap_soc .soc ul {
                        display: flex;
                        display: -webkit-flex;
                        display: -ms-flex;
                        display: -moz-flex;
                        display: -o-flex;
                        flex-direction: row;
                        -webkit-flex: row;
                        -ms-flex: row;
                        -moz-flex: row;
                        -o-flex: row;
                        -webkit-flex: row;
                        justify-content: space-between;
                        -webkit-justify-content: space-between;
                        -moz-justify-content: space-between;
                        -ms-justify-content: space-between;
                        -o-justify-content: space-between; }
                        .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .wrap_soc .soc ul li {
                          display: flex;
                          display: -webkit-flex;
                          display: -ms-flex;
                          display: -moz-flex;
                          display: -o-flex; }
                          .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .side_menu .wrap_soc .soc ul li a {
                            font-size: 25px;
                            color: #1b1b1b; }
                .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .banner {
                  width: 85%;
                  height: 100%;
                  padding: 40px 40px 90px;
                  background-size: -webkit-cover;
                  background: url(../images/trex_bg_menu.jpg) no-repeat center 0%/cover; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .banner .wrap_text {
                    height: 355px;
                    padding: 10px; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .banner .wrap_text h2 {
                      font-family: 'savaro_stencilregular';
                      font-size: 90px;
                      color: #ff1717; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .banner .wrap_text h3 {
                      font-family: 'savaro_stencilregular';
                      color: #ffffff;
                      font-size: 80px;
                      margin-top: 60px;
                      white-space: nowrap;
                      font-weight: 400; }
                  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .banner .wrap_button {
                    margin-top: 50px; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .banner .wrap_button .button {
                      padding: 0px 40px;
                      margin-left: 10px;
                      background-color: #ff5616;
                      color: #ffffff;
                      font-size: 20px;
                      font-weight: 700;
                      line-height: 46px;
                      text-align: left;
                      transition: all 0.25s ease-in 0s;
                      height: 55px;
                      border: none;
                      position: relative;
                      box-sizing: border-box;
                      cursor: pointer;
                      display: inline-block;
                      padding-top: 4px; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .banner .wrap_button .button::after {
                        content: " ";
                        position: absolute;
                        right: -55px;
                        transition: all 0.1s ease-in 0s;
                        top: 0;
                        height: 55px;
                        width: 55px;
                        background: #f04200 url(../images/arrow_btn.png) no-repeat 50% 50%; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .banner .wrap_button .button:hover {
                        opacity: 0.8;
                        -webkit-opacity: 0.8;
                        -khtml-opacity: 0.8;
                        -moz-opacity: 0.8;
                        filter: alpha(opacity=8);
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)"; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .banner .wrap_button .trex_btn {
                      background-color: #ff1717; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .banner .wrap_button .trex_btn::after {
                        background: #d70606 url(../images/arrow_btn.png) no-repeat 50% 50%; }
                    .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .banner .wrap_button .shark_btn {
                      background-color: #0077b9; }
                      .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu .banner .wrap_button .shark_btn::after {
                        background: #0063af url(../images/arrow_btn.png) no-repeat 50% 50%; }
    .header .main_head .toggle-mnu {
      padding-top: 25px;
      text-align: center;
      line-height: 48px; }
  .header .toggle-mnu {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-left: 28%; }
  .header .toggle-mnu span:after,
  .header .toggle-mnu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px; }
  .header .toggle-mnu span:after {
    top: 18px; }
  .header .toggle-mnu span {
    position: relative;
    display: block; }
  .header .toggle-mnu span,
  .header .toggle-mnu span:after,
  .header .toggle-mnu span:before {
    width: 100%;
    height: 2px;
    background-color: #b11313;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px; }
  .header .toggle-mnu.on span {
    background-color: transparent; }
  .header .toggle-mnu.on span:before {
    transform: rotate(45deg) translate(-1px, 0px); }
  .header .toggle-mnu.on span:after {
    transform: rotate(-45deg) translate(6px, -7px); }
  .header .toggle-mnu.on + #menu {
    opacity: 1;
    visibility: visible; }
