@keyframes myAnimation {
  0% {
    -webkit-transform: translate(100px, 0); }
  100% {
    -webkit-transform: translate(0px, 0px); } }

@-webkit-keyframes myAnimation {
  0% {
    -webkit-transform: translate(100px, 0); }
  100% {
    -webkit-transform: translate(0px, 0px); } }

@-moz-keyframes myAnimation {
  0% {
    -moz-transform: translate(100px, 0); }
  100% {
    -moz-transform: translate(0px, 0px); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes myscale {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes myscale {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@keyframes myscale {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@keyframes myhover {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: #b11313; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #b11313; } }

@-webkit-keyframes myhover {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #b11313; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #b11313; } }

@-moz-keyframes myhover {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #b11313; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #b11313; } }

@-ms-keyframes myhover {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #b11313; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #b11313; } }

.navigation_np {
  min-height: 130px;
  width: 100%;
  padding-top: 100px;
  background: url("../images/bg_norm_prod.png") no-repeat center center/cover; }
  .navigation_np .nav_np {
    padding: 7px 15px;
    height: 30px;
    max-width: 1170px;
    background-color: #232323;
    margin: 0 auto; }
    .navigation_np .nav_np ul li {
      display: inline-block;
      margin-right: 15px; }
      .navigation_np .nav_np ul li a {
        color: rgba(255, 255, 255, 0.2);
        font-size: 12px; }
        .navigation_np .nav_np ul li a:hover {
          color: #cd1b1b; }
        .navigation_np .nav_np ul li a.active {
          color: #cd1b1b; }

.s_monitor {
  min-height: 488px; }
  .s_monitor .gallery {
    height: 452px;
    width: 366px;
    position: relative;
    margin: 0px auto 50px;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s; }
    .s_monitor .gallery .top_soc {
      position: absolute;
      top: 40px;
      left: 0;
      z-index: 9;
      left: 7%;
      width: 80%; }
      .s_monitor .gallery .top_soc.active {
        -moz-animation: myscale 1s;
        -webkit-animation: myscale 1s;
        animation: myscale 1s; }
      .s_monitor .gallery .top_soc.deactive {
        -moz-animation: myscale 1s;
        -webkit-animation: myscale 1s;
        animation: myscale 1s; }
      .s_monitor .gallery .top_soc ul {
        text-align: center; }
        .s_monitor .gallery .top_soc ul li {
          display: inline-block;
          margin-left: 12%; }
          .s_monitor .gallery .top_soc ul li a {
            display: block;
            color: #cd1b1b;
            font-size: 18px; }
    .s_monitor .gallery .galleria-container {
      background-color: transparent; }
      .s_monitor .gallery .galleria-container .galleria-stage {
        background-color: #FFF;
        height: 360px;
        width: 356px;
        border: 3px solid #8b8b8b; }
        .s_monitor .gallery .galleria-container .galleria-stage .galleria-images .galleria-image img {
          height: 270px !important;
          width: 270px !important;
          left: 37px !important; }
        .s_monitor .gallery .galleria-container .galleria-stage .galleria-image-nav {
          left: -5px; }
          .s_monitor .gallery .galleria-container .galleria-stage .galleria-image-nav .galleria-image-nav-right {
            background: #8b8b8b url("../images/arrow.png") no-repeat 170% 50%;
            height: 36px;
            width: 26px;
            top: 50%; }
          .s_monitor .gallery .galleria-container .galleria-stage .galleria-image-nav .galleria-image-nav-left {
            background: #8b8b8b url("../images/arrow.png") no-repeat -70% 50%;
            height: 36px;
            top: 50%;
            width: 26px; }
        .s_monitor .gallery .galleria-container .galleria-stage .galleria-counter {
          display: none; }
      .s_monitor .gallery .galleria-container .galleria-thumbnails-container {
        bottom: 44px;
        height: 80px;
        width: 356px;
        left: 10px; }
        .s_monitor .gallery .galleria-container .galleria-thumbnails-container .galleria-thumbnails-list {
          margin: 0 auto;
          height: 80px;
          width: 316px; }
          .s_monitor .gallery .galleria-container .galleria-thumbnails-container .galleria-thumbnails-list .galleria-thumbnails .galleria-image {
            height: 79px;
            width: 79px;
            margin: 0px;
            border: 2px solid #8b8b8b; }
            .s_monitor .gallery .galleria-container .galleria-thumbnails-container .galleria-thumbnails-list .galleria-thumbnails .galleria-image.active {
              border: 2px solid #d70606; }
            .s_monitor .gallery .galleria-container .galleria-thumbnails-container .galleria-thumbnails-list .galleria-thumbnails .galleria-image:hover {
              border: 2px solid #d70606; }
            .s_monitor .gallery .galleria-container .galleria-thumbnails-container .galleria-thumbnails-list .galleria-thumbnails .galleria-image img {
              background-color: #FFF; }
        .s_monitor .gallery .galleria-container .galleria-thumbnails-container .galleria-thumb-nav-left {
          display: block;
          height: 100%;
          background: #8b8b8b url("../images/arrow.png") no-repeat -70% 50%; }
        .s_monitor .gallery .galleria-container .galleria-thumbnails-container .galleria-thumb-nav-right {
          display: block;
          height: 100%;
          background: #8b8b8b url("../images/arrow.png") no-repeat 170% 50%; }
      .s_monitor .gallery .galleria-container .galleria-info .galleria-info-link {
        background: none; }
  .s_monitor .info_monitor {
    margin-top: 10px; }
    .s_monitor .info_monitor .wrap_h4 {
      background-color: #cd1b1b;
      padding: 16px 14px; }
      .s_monitor .info_monitor .wrap_h4 .left_side {
        width: 60%;
        display: inline-block; }
        .s_monitor .info_monitor .wrap_h4 .left_side h4 {
          font-size: 40px;
          font-family: 'proxima_nova_blblack';
          font-weight: 400;
          color: #fefefe;
          text-transform: uppercase; }
        .s_monitor .info_monitor .wrap_h4 .left_side p {
          font-size: 22px;
          font-family: 'proxima_nova_rgregular';
          color: #fff;
          margin: 0; }
      .s_monitor .info_monitor .wrap_h4 .soc_side {
        display: inline-block;
        float: right; }
        .s_monitor .info_monitor .wrap_h4 .soc_side p {
          color: #ee8080;
          font-weight: 600;
          margin: 10px; }
        .s_monitor .info_monitor .wrap_h4 .soc_side .soc {
          text-align: center; }
          .s_monitor .info_monitor .wrap_h4 .soc_side .soc ul li {
            display: inline-block;
            margin: 0 15px; }
            .s_monitor .info_monitor .wrap_h4 .soc_side .soc ul li a i {
              font-size: 20px;
              color: #fff; }
  .s_monitor .wrap_rating {
    padding: 6px 15px;
    border-bottom: 1px solid #434343; }
    .s_monitor .wrap_rating .rating {
      border-right: 1px solid #434343;
      width: 140px;
      padding: 5px;
      display: inline-block; }
      .s_monitor .wrap_rating .rating span {
        margin-right: 2px;
        color: #ff5616;
        font-size: 20px;
        cursor: pointer; }
        .s_monitor .wrap_rating .rating span:last-child {
          color: #404040;
          font-size: 20px; }
    .s_monitor .wrap_rating .heart {
      display: inline-block;
      color: #5f5f5f;
      padding-left: 14px;
      cursor: pointer; }
      .s_monitor .wrap_rating .heart i {
        font-size: 20px;
        margin-right: 5px; }
      .s_monitor .wrap_rating .heart span {
        cursor: pointer; }
  .s_monitor .wrap_characteristics {
    height: 174px;
    padding: 25px 0;
    border-bottom: 1px solid #434343; }
    .s_monitor .wrap_characteristics .charact_block {
      float: left;
      width: 150px;
      margin: 0 45px; }
      .s_monitor .wrap_characteristics .charact_block li {
        color: #fff;
        margin-bottom: 15px;
        height: 30px;
        width: 150px; }
        .s_monitor .wrap_characteristics .charact_block li i {
          height: 30px;
          width: 30px;
          display: inline-block;
          margin-right: 10px;
          color: #5f5f5f;
          font-size: 24px; }
        .s_monitor .wrap_characteristics .charact_block li span {
          vertical-align: top;
          display: inline-block;
          width: 105px; }
  .s_monitor .wrap_stock {
    height: 152px;
    border-bottom: 1px solid #434343;
    padding: 30px 15px; }
    .s_monitor .wrap_stock .wrap_timer {
      float: left; }
      .s_monitor .wrap_stock .wrap_timer p {
        color: #898989;
        font-weight: 700; }
      .s_monitor .wrap_stock .wrap_timer .timer .countdownHolder {
        width: 224px; }
      .s_monitor .wrap_stock .wrap_timer .timer .countDays {
        position: relative;
        margin-right: 3px; }
        .s_monitor .wrap_stock .wrap_timer .timer .countDays:after {
          content: "Days";
          position: absolute;
          bottom: -16px;
          letter-spacing: 1px;
          left: 0;
          width: 40px;
          height: 20px;
          color: #FFF;
          font-size: 14px;
          font-family: "proxima_nova_ltlight"; }
      .s_monitor .wrap_stock .wrap_timer .timer .countHours {
        position: relative;
        margin-right: 3px; }
        .s_monitor .wrap_stock .wrap_timer .timer .countHours:after {
          content: "Hours";
          position: absolute;
          bottom: -16px;
          letter-spacing: 1px;
          left: 0;
          width: 40px;
          height: 20px;
          color: #FFF;
          font-size: 14px;
          font-family: "proxima_nova_ltlight"; }
      .s_monitor .wrap_stock .wrap_timer .timer .countMinutes {
        position: relative;
        margin-right: 3px; }
        .s_monitor .wrap_stock .wrap_timer .timer .countMinutes:after {
          content: "Minutes";
          position: absolute;
          bottom: -16px;
          letter-spacing: 1px;
          left: -6px;
          width: 40px;
          height: 20px;
          color: #FFF;
          font-size: 14px;
          font-family: "proxima_nova_ltlight"; }
      .s_monitor .wrap_stock .wrap_timer .timer .countSeconds {
        position: relative; }
        .s_monitor .wrap_stock .wrap_timer .timer .countSeconds:after {
          content: "Seconds";
          position: absolute;
          bottom: -16px;
          letter-spacing: 1px;
          left: -2px;
          width: 40px;
          height: 20px;
          color: #FFF;
          font-size: 14px;
          font-family: "proxima_nova_ltlight"; }
    .s_monitor .wrap_stock .buy_now {
      float: right;
      background-color: #2b2b2b;
      padding: 15px 60px; }
      .s_monitor .wrap_stock .buy_now .price {
        display: inline-block;
        text-align: center; }
        .s_monitor .wrap_stock .buy_now .price small {
          font-size: 18px;
          color: #898989; }
        .s_monitor .wrap_stock .buy_now .price strong {
          color: #fff;
          font-family: 'proxima_nova_blblack';
          font-size: 40px;
          font-weight: 100; }
      .s_monitor .wrap_stock .buy_now .button {
        background-color: #d70606;
        border: none;
        font-size: 20px;
        color: #fff;
        font-family: 'open_sansextrabold';
        padding: 18px 45px;
        margin-left: 15px;
        vertical-align: top;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        transition-duration: 0.5s; }
        .s_monitor .wrap_stock .buy_now .button:hover {
          opacity: 0.5;
          -webkit-opacity: 0.5;
          -khtml-opacity: 0.5;
          -moz-opacity: 0.5;
          filter: alpha(opacity=5);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)"; }

.vp_section {
  min-height: 212px;
  background-color: #1b1b1b; }
  .vp_section .block {
    border-right: 1px solid #313131;
    margin-top: 30px;
    padding: 36px 0px;
    text-align: center; }
    .vp_section .block:last-child {
      border: none; }
    .vp_section .block .wrap_img {
      display: inline-block;
      margin-right: 20px; }
    .vp_section .block .wrap_text {
      display: inline-block;
      text-align: left;
      vertical-align: middle; }
      .vp_section .block .wrap_text strong {
        font-size: 30px;
        color: #fff;
        font-family: 'proxima_nova_blblack';
        font-weight: 100; }
      .vp_section .block .wrap_text p {
        color: #fff;
        font-weight: 600; }

.tabs {
  margin-top: 20px; }
  .tabs .ui-tabs .ui-tabs-nav {
    padding: 0; }
    .tabs .ui-tabs .ui-tabs-nav li {
      margin: 0;
      border-right: 1px solid #232323; }
  .tabs .ui-tabs .ui-tabs-nav li.ui-state-active, .tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    color: #1b1b1b;
    background-color: #FFF; }
  .tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    color: #1b1b1b;
    background-color: #FFF; }
  .tabs ul {
    width: 100%;
    background-color: #FFF;
    padding: 0; }
    .tabs ul li {
      width: 33.333%;
      text-align: left;
      margin: 0;
      line-height: 2; }
      .tabs ul li a {
        text-align: center;
        display: inline-block;
        color: #fff;
        width: 100%;
        background-color: #cd1b1b;
        cursor: pointer;
        padding: 15px 0; }
        .tabs ul li a:focus {
          color: #1b1b1b;
          background-color: #FFF; }
  .tabs .content_tab {
    background-color: #FFF;
    padding: 0; }
    .tabs .content_tab p {
      color: #737373;
      padding: 10px 100px;
      min-height: 152px; }
  .tabs .wrap_button {
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #d3d3d3; }
    .tabs .wrap_button .button {
      padding: 15px 116px;
      font-family: 'open_sansextrabold';
      font-size: 22px;
      color: #fff;
      background-color: #cd1b1b;
      border: none;
      transition: all 0.5s ease 0.1s; }
      .tabs .wrap_button .button:hover {
        color: rgba(209, 209, 209, 0.65); }

.s_products_np {
  margin-top: 30px; }
  .s_products_np hr {
    max-width: 1140px; }
  .s_products_np .under_hr {
    text-align: right;
    padding-right: 10px; }
    .s_products_np .under_hr span {
      font-size: 15;
      color: #fefefe;
      cursor: pointer;
      position: relative;
      display: inline-block;
      padding-right: 40px; }
      .s_products_np .under_hr span:before {
        content: "";
        position: absolute;
        right: 16%;
        top: 40%;
        width: 11px;
        height: 7px;
        background: url(../images/arrow_sd.png) no-repeat; }
  .s_products_np .products {
    min-height: 610px; }
    .s_products_np .products .wrap_h3 {
      background-color: #cd1b1b;
      padding: 7px 14px;
      max-width: 1140px; }
      .s_products_np .products .wrap_h3 h3 {
        font-size: 50px;
        font-family: 'proxima_nova_blblack';
        color: #fefefe;
        font-weight: inherit; }
    .s_products_np .products .wrap_slider {
      position: relative; }
      .s_products_np .products .wrap_slider .slider .owl-nav {
        position: absolute;
        right: 4%;
        top: -9%; }
        .s_products_np .products .wrap_slider .slider .owl-nav .owl-prev {
          display: inline-block;
          transition: all 0.25s ease-in 0s;
          width: 30px;
          height: 30px;
          border: 1px solid #fff;
          background: url(../images/arrow.png) no-repeat -100% 45%; }
          .s_products_np .products .wrap_slider .slider .owl-nav .owl-prev.active {
            background: #303030 url(../images/arrow.png) no-repeat -100% 45%; }
          .s_products_np .products .wrap_slider .slider .owl-nav .owl-prev:hover {
            background: #303030 url(../images/arrow.png) no-repeat -100% 45%; }
        .s_products_np .products .wrap_slider .slider .owl-nav .owl-next {
          display: inline-block;
          width: 30px;
          height: 30px;
          border: 1px solid #fff;
          background: url(../images/arrow.png) no-repeat 200% 45%; }
          .s_products_np .products .wrap_slider .slider .owl-nav .owl-next.active {
            background: #303030 url(../images/arrow.png) no-repeat 200% 45%; }
          .s_products_np .products .wrap_slider .slider .owl-nav .owl-next:hover {
            background: #303030 url(../images/arrow.png) no-repeat 200% 45%; }
    .s_products_np .products .item {
      height: 488px;
      background-color: #fff;
      margin: 25px 2px;
      width: 269px;
      border: 3px solid #8b8b8b;
      box-sizing: border-box;
      position: relative; }
      .s_products_np .products .item:hover {
        border: 5px solid #cd1b1b;
        margin: 25px 0px; }
        .s_products_np .products .item:hover .btn_gd {
          transform: translate3d(0px, 0px, 0px);
          -webkit-transform: translate3d(0px, 0px, 0px);
          -moz-transform: translate3d(0px, 0px, 0px);
          -ms-transform: translate3d(0px, 0px, 0px);
          -o-transform: translate3d(0px, 0px, 0px);
          -webkit-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          transition-duration: 0.5s; }
        .s_products_np .products .item:hover .about_content {
          transform: translate3d(0px, 0px, 0px);
          -webkit-transform: translate3d(0px, 0px, 0px);
          -moz-transform: translate3d(0px, 0px, 0px);
          -ms-transform: translate3d(0px, 0px, 0px);
          -o-transform: translate3d(0px, 0px, 0px);
          opacity: 1;
          -webkit-opacity: 1;
          -khtml-opacity: 1;
          -moz-opacity: 1;
          filter: alpha(opacity=10);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
          -webkit-transition-duration: 0.9s;
          -o-transition-duration: 0.9s;
          -moz-transition-duration: 0.9s;
          transition-duration: 0.9s; }
        .s_products_np .products .item:hover .top_soc {
          transform: translate3d(0px, 0px, 0px);
          -webkit-transform: translate3d(0px, 0px, 0px);
          -moz-transform: translate3d(0px, 0px, 0px);
          -ms-transform: translate3d(0px, 0px, 0px);
          -o-transform: translate3d(0px, 0px, 0px);
          opacity: 1;
          -webkit-opacity: 1;
          -khtml-opacity: 1;
          -moz-opacity: 1;
          filter: alpha(opacity=10);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
          -webkit-transition-duration: 0.9s;
          -o-transition-duration: 0.9s;
          -moz-transition-duration: 0.9s;
          transition-duration: 0.9s; }
        .s_products_np .products .item:hover .wrap_img {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          -webkit-transition-duration: 0.9s;
          -o-transition-duration: 0.9s;
          -moz-transition-duration: 0.9s;
          transition-duration: 0.9s; }
      .s_products_np .products .item .wrap_img {
        text-align: center;
        margin-top: 24%; }
      .s_products_np .products .item .top_soc {
        margin-bottom: -10%;
        opacity: 0;
        -webkit-opacity: 0;
        -khtml-opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
        transform: translate3d(0px, -10px, 0px);
        -webkit-transform: translate3d(0px, -10px, 0px);
        -moz-transform: translate3d(0px, -10px, 0px);
        -ms-transform: translate3d(0px, -10px, 0px);
        -o-transform: translate3d(0px, -10px, 0px);
        -webkit-transition-duration: 0.9s;
        -o-transition-duration: 0.9s;
        -moz-transition-duration: 0.9s;
        transition-duration: 0.9s; }
        .s_products_np .products .item .top_soc ul {
          margin-top: 10px;
          text-align: center; }
          .s_products_np .products .item .top_soc ul li {
            display: inline-block;
            margin-right: 18px; }
            .s_products_np .products .item .top_soc ul li a {
              display: block;
              color: #cd1b1b;
              font-size: 18px; }
    .s_products_np .products .wrap_img {
      text-align: center;
      margin-top: 14%; }
      .s_products_np .products .wrap_img img {
        width: 60%;
        display: inline-block; }
    .s_products_np .products .star_about {
      position: absolute;
      bottom: 0; }
      .s_products_np .products .star_about .ul_btn {
        z-index: 9999;
        position: relative;
        margin: 0 -1px; }
      .s_products_np .products .star_about .btn_gd {
        padding: 12px 24px;
        margin: 0 auto;
        border: 1px solid #fff;
        text-transform: none;
        text-align: center;
        width: 100%;
        color: #fff;
        font-size: 18px;
        background-color: #b11313;
        transform: translate3d(0px, 135px, 0px);
        -webkit-transform: translate3d(0px, 135px, 0px);
        -moz-transform: translate3d(0px, 135px, 0px);
        -ms-transform: translate3d(0px, 135px, 0px);
        -o-transform: translate3d(0px, 135px, 0px);
        -webkit-transition-duration: 0.9s;
        -o-transition-duration: 0.9s;
        -moz-transition-duration: 0.9s;
        transition-duration: 0.9s;
        bottom: 0px; }
      .s_products_np .products .star_about .about_content {
        height: 134px;
        padding: 10px 22px;
        background-color: #FFF;
        top: auto;
        transform: translate3d(0px, 30px, 0px);
        -webkit-transform: translate3d(0px, 30px, 0px);
        -moz-transform: translate3d(0px, 30px, 0px);
        -ms-transform: translate3d(0px, 30px, 0px);
        -o-transform: translate3d(0px, 30px, 0px);
        -webkit-transition-duration: 0.9s;
        -o-transition-duration: 0.9s;
        -moz-transition-duration: 0.9s;
        transition-duration: 0.9s;
        opacity: 0;
        -webkit-opacity: 0;
        -khtml-opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)"; }
        .s_products_np .products .star_about .about_content .star_head ul {
          text-align: center;
          border-bottom: 1px solid #dbdbdb;
          padding-bottom: 9px; }
          .s_products_np .products .star_about .about_content .star_head ul li {
            display: inline-block; }
            .s_products_np .products .star_about .about_content .star_head ul li span {
              cursor: pointer;
              display: block;
              width: 21px;
              height: 20px;
              background: url(../images/cont_icons.png) no-repeat; }
            .s_products_np .products .star_about .about_content .star_head ul li:last-child span {
              background: url(../images/cont_icons.png) no-repeat 35% 0; }
        .s_products_np .products .star_about .about_content .wrap_cont {
          padding: 10px; }
          .s_products_np .products .star_about .about_content .wrap_cont .text_cont {
            width: 155px;
            padding-right: 10px;
            margin-bottom: 10px;
            border-right: 1px solid #dbdbdb;
            float: left; }
            .s_products_np .products .star_about .about_content .wrap_cont .text_cont p {
              margin: 0 0 0 -8px;
              color: #454545;
              font-size: 14px; }
          .s_products_np .products .star_about .about_content .wrap_cont .r_icon {
            margin: 25px 0 0 10px;
            float: left; }
            .s_products_np .products .star_about .about_content .wrap_cont .r_icon span {
              display: block;
              height: 30px;
              cursor: pointer;
              width: 30px;
              background: url(../images/cont_icons.png) no-repeat 100% 100%; }
      .s_products_np .products .star_about .about_content_2, .s_products_np .products .star_about .about_content_3, .s_products_np .products .star_about .about_content_5, .s_products_np .products .star_about .about_content_6, .s_products_np .products .star_about .about_content_8, .s_products_np .products .star_about .about_content_9 {
        height: 134px;
        padding: 10px 22px;
        background-color: #FFF;
        display: none; }
        .s_products_np .products .star_about .about_content_2 .star_head ul, .s_products_np .products .star_about .about_content_3 .star_head ul, .s_products_np .products .star_about .about_content_5 .star_head ul, .s_products_np .products .star_about .about_content_6 .star_head ul, .s_products_np .products .star_about .about_content_8 .star_head ul, .s_products_np .products .star_about .about_content_9 .star_head ul {
          text-align: center;
          border-bottom: 1px solid #dbdbdb;
          padding-bottom: 9px; }
          .s_products_np .products .star_about .about_content_2 .star_head ul li, .s_products_np .products .star_about .about_content_3 .star_head ul li, .s_products_np .products .star_about .about_content_5 .star_head ul li, .s_products_np .products .star_about .about_content_6 .star_head ul li, .s_products_np .products .star_about .about_content_8 .star_head ul li, .s_products_np .products .star_about .about_content_9 .star_head ul li {
            display: inline-block; }
            .s_products_np .products .star_about .about_content_2 .star_head ul li span, .s_products_np .products .star_about .about_content_3 .star_head ul li span, .s_products_np .products .star_about .about_content_5 .star_head ul li span, .s_products_np .products .star_about .about_content_6 .star_head ul li span, .s_products_np .products .star_about .about_content_8 .star_head ul li span, .s_products_np .products .star_about .about_content_9 .star_head ul li span {
              cursor: pointer;
              display: block;
              width: 21px;
              height: 20px;
              background: url(../images/cont_icons.png) no-repeat; }
            .s_products_np .products .star_about .about_content_2 .star_head ul li:last-child span, .s_products_np .products .star_about .about_content_3 .star_head ul li:last-child span, .s_products_np .products .star_about .about_content_5 .star_head ul li:last-child span, .s_products_np .products .star_about .about_content_6 .star_head ul li:last-child span, .s_products_np .products .star_about .about_content_8 .star_head ul li:last-child span, .s_products_np .products .star_about .about_content_9 .star_head ul li:last-child span {
              background: url(../images/cont_icons.png) no-repeat 35% 0; }
        .s_products_np .products .star_about .about_content_2 .wrap_cont, .s_products_np .products .star_about .about_content_3 .wrap_cont, .s_products_np .products .star_about .about_content_5 .wrap_cont, .s_products_np .products .star_about .about_content_6 .wrap_cont, .s_products_np .products .star_about .about_content_8 .wrap_cont, .s_products_np .products .star_about .about_content_9 .wrap_cont {
          padding: 10px; }
          .s_products_np .products .star_about .about_content_2 .wrap_cont .text_cont, .s_products_np .products .star_about .about_content_3 .wrap_cont .text_cont, .s_products_np .products .star_about .about_content_5 .wrap_cont .text_cont, .s_products_np .products .star_about .about_content_6 .wrap_cont .text_cont, .s_products_np .products .star_about .about_content_8 .wrap_cont .text_cont, .s_products_np .products .star_about .about_content_9 .wrap_cont .text_cont {
            width: 155px;
            padding-right: 10px;
            margin-bottom: 10px;
            border-right: 1px solid #dbdbdb;
            float: left; }
            .s_products_np .products .star_about .about_content_2 .wrap_cont .text_cont p, .s_products_np .products .star_about .about_content_3 .wrap_cont .text_cont p, .s_products_np .products .star_about .about_content_5 .wrap_cont .text_cont p, .s_products_np .products .star_about .about_content_6 .wrap_cont .text_cont p, .s_products_np .products .star_about .about_content_8 .wrap_cont .text_cont p, .s_products_np .products .star_about .about_content_9 .wrap_cont .text_cont p {
              margin: 0 0 0 -8px;
              color: #454545; }
          .s_products_np .products .star_about .about_content_2 .wrap_cont .r_icon, .s_products_np .products .star_about .about_content_3 .wrap_cont .r_icon, .s_products_np .products .star_about .about_content_5 .wrap_cont .r_icon, .s_products_np .products .star_about .about_content_6 .wrap_cont .r_icon, .s_products_np .products .star_about .about_content_8 .wrap_cont .r_icon, .s_products_np .products .star_about .about_content_9 .wrap_cont .r_icon {
            margin: 25px 0 0 10px;
            float: left; }
            .s_products_np .products .star_about .about_content_2 .wrap_cont .r_icon span, .s_products_np .products .star_about .about_content_3 .wrap_cont .r_icon span, .s_products_np .products .star_about .about_content_5 .wrap_cont .r_icon span, .s_products_np .products .star_about .about_content_6 .wrap_cont .r_icon span, .s_products_np .products .star_about .about_content_8 .wrap_cont .r_icon span, .s_products_np .products .star_about .about_content_9 .wrap_cont .r_icon span {
              display: block;
              height: 30px;
              cursor: pointer;
              width: 30px;
              background: url(../images/cont_icons.png) no-repeat 100% 100%; }
      .s_products_np .products .star_about .ul_btn ul {
        height: 60px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-justify-content: space-around;
        -o-justify-content: space-around; }
        .s_products_np .products .star_about .ul_btn ul li {
          float: left;
          border-right: 1px solid #fff; }
          .s_products_np .products .star_about .ul_btn ul li span {
            background-color: rgba(209, 209, 209, 0.65);
            display: block;
            padding: 20px;
            color: #5f5f5f;
            text-align: center;
            font-size: 20px;
            font-weight: 900;
            cursor: pointer;
            font-family: 'proxima_nova_rgregular';
            height: 60px;
            width: 60px;
            transition: all 0.25s ease-in 0s; }
            .s_products_np .products .star_about .ul_btn ul li span del {
              font-size: 16px;
              color: #1b1b1b; }
          .s_products_np .products .star_about .ul_btn ul li:first-child {
            vertical-align: top; }
            .s_products_np .products .star_about .ul_btn ul li:first-child span {
              padding: 20px 32px;
              width: 137px; }
              .s_products_np .products .star_about .ul_btn ul li:first-child span.span_del {
                padding: 10px 26px; }
          .s_products_np .products .star_about .ul_btn ul li:nth-child(2) span {
            background: rgba(209, 209, 209, 0.65) url(../images/item_icons.png) no-repeat 87% 50%; }
            .s_products_np .products .star_about .ul_btn ul li:nth-child(2) span:hover {
              background: #b11313 url(../images/item_icons.png) no-repeat -7% 50%; }
          .s_products_np .products .star_about .ul_btn ul li:nth-child(3) {
            border-right: 1px solid rgba(209, 209, 209, 0.65); }
            .s_products_np .products .star_about .ul_btn ul li:nth-child(3) span {
              background: rgba(209, 209, 209, 0.65) url(../images/item_icons.png) no-repeat 106% 50%; }
    .s_products_np .products .col_item {
      padding-left: 0; }

/*==========  Desktop First Method  ==========*/
@keyframes myAnimation {
  0% {
    -webkit-transform: translate(100px, 0); }
  100% {
    -webkit-transform: translate(0px, 0px); } }

@-webkit-keyframes myAnimation {
  0% {
    -webkit-transform: translate(100px, 0); }
  100% {
    -webkit-transform: translate(0px, 0px); } }

@-moz-keyframes myAnimation {
  0% {
    -moz-transform: translate(100px, 0); }
  100% {
    -moz-transform: translate(0px, 0px); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes myscale {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes myscale {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@keyframes myscale {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@keyframes myhover {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: #b11313; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #b11313; } }

@-webkit-keyframes myhover {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #b11313; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #b11313; } }

@-moz-keyframes myhover {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #b11313; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #b11313; } }

@-ms-keyframes myhover {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #b11313; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #b11313; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main .content .s_slider .owl-carousel .owl-controls .owl-dots .owl-dot {
    height: 75%; }
  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding {
    display: flex;
    flex-direction: column-reverse;
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse; }
  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo {
    flex: 1 1 100px;
    -webkit-flex: 1 1 100px; }
  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .s_sign_up {
    flex: 1 1 100px;
    -webkit-flex: 1 1 100px; }
  hr {
    display: none; }
  .s_products .products {
    margin: 0 88px; }
  .s_products .products .item {
    margin: 30px auto;
    width: 272px; }
  .s_sign_up .sign_up {
    margin: 0 102px; }
  .s_top_container .top_container {
    max-width: 520px;
    border-right: 8px solid #737373; }
  .s_top_container .border_conteiner {
    max-width: 534px; }
  .s_top_container .border_conteiner .left_top_container {
    display: none; }
  .s_top_container .border_conteiner .right_top_container {
    max-width: 529px; }
  .s_products .r_block {
    margin: 30px auto;
    max-width: 266px; }
  .s_monitor .info_monitor .wrap_h4 .left_side {
    width: 50%; }
  .s_monitor .info_monitor {
    margin-left: 10%; }
  .s_monitor .wrap_characteristics .charact_block {
    margin: 0 3%; }
  .s_monitor .wrap_stock .buy_now .price strong {
    font-size: 30px; }
  .s_monitor .wrap_stock .buy_now {
    padding: 2%;
    width: 43%; }
  .s_monitor .wrap_stock .buy_now .button {
    padding: 3% 2%; }
  .s_products_np .products .item {
    margin: 25px auto; }
  .main_shopping_cart .confirm_the_order .wrap_total .button {
    padding: 7% 18%; }
  .main_shopping_cart .confirm_the_order .top_head .button {
    padding: 12px;
    font-size: 12px; }
  .main_shopping_cart .registration .wrap_input:nth-child(2n) {
    float: none; }
  .main_shopping_cart .wrap_submit {
    float: left;
    margin-bottom: 80px; }
  .main_shopping_cart .confirm_the_order {
    margin-top: 70px; }
  .s_computer_component_list .computer_component_list .wrap_slider .owl-carousel .owl-stage-outer .owl-item .item .block_gpu .info .rating {
    margin-left: 2%; }
  .wrap_main_body .products_card .star_about .btn_gd {
    padding: 12px 24.5%; }
  .wrap_main_body .products_card .star_about .ul_btn {
    margin: 0px -1px; }
  .wrap_main_body .products_card .star_about .ul_btn ul li:first-child {
    width: 38%;
    margin: 0 -4px 0 -5px; }
  .wrap_main_body .products_card .star_about .ul_btn ul li:first-child span {
    padding: 25px 10%;
    font-size: 15px; }
  .wrap_main_body .pagination_top .view_page {
    display: none; }
  .wrap_main_body .main_body .categories_list .header_list .filter {
    text-align: center; }
  .wrap_main_body .pagination_top .product_page ul li {
    display: none; }
    .wrap_main_body .pagination_top .product_page ul li:first-child, .wrap_main_body .pagination_top .product_page ul li:last-child, .wrap_main_body .pagination_top .product_page ul li:nth-child(2), .wrap_main_body .pagination_top .product_page ul li:nth-child(12), .wrap_main_body .pagination_top .product_page ul li:nth-child(13) {
      display: inline-block;
      margin: 0 1px; }
  .s_product_list .product .product_content {
    width: 62%; }
  .s_product_list .product .product_content .wrap_characteristics {
    margin: 5px 0 10px; }
  .s_product_list .product .product_content .wrap_characteristics p {
    width: 60%;
    display: block;
    margin-bottom: 5px; }
  .s_product_list .product .product_content .wrap_soc {
    margin-top: 18px; }
  .s_product_list .product .product_content .wrap_soc .soc {
    width: 38%; }
  .s_product_list .product .product_content .wrap_soc .buy_now .button {
    padding: 20px 4%; }
  .s_product_list .product .product_content .wrap_soc .buy_now {
    width: 55%; }
  .s_product_list .product .product_content .wrap_soc .buy_now .price {
    margin-right: 4%; }
  .s_product_list .product .product_content .wrap_soc .buy_now .button {
    margin-right: 4%; }
  .s_products .products .wrap_slider .slide .star_about .btn_gd {
    font-size: 80%; }
  .s_products .products .wrap_slider .slide .wrap_img img {
    height: 120%; }
  .footer .inner_footer {
    min-height: 646px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header .left_menu_icons ul li:first-child {
    text-indent: -9999;
    width: 54px; }
  .header .main_head .navbar .nav li {
    text-align: center; }
    .header .main_head .navbar .nav li a {
      font-size: 17px; }
  .header .main_head .navbar .nav li .wrap_drop_menu {
    left: -315%; }
  .header .main_head .navbar .nav li .wrap_menu.menu_vraptor {
    right: -106%; }
  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor .trex_drop_menu .wrap_triangle {
    left: 17%; }
  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding {
    display: flex;
    flex-direction: column-reverse;
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse; }
  .header .main_head .navbar .nav li a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    margin-left: 5%; }
  .header .main_head .navbar .nav li .triangle {
    display: none; }
  .wrap_main_body .products_card .star_about .ul_btn ul li:first-child {
    width: 50%; }
  .main .content .s_slider .owl-carousel .owl-controls .owl-dots .owl-dot {
    height: 65%; }
  .s_products .products .wrap_slider .slider .owl-nav {
    top: -3%; }
  .s_monitor .info_monitor {
    margin-left: 10%; }
  .s_monitor .wrap_characteristics .charact_block {
    margin: 0 5%; }
  .s_computer_component_list .computer_component_list .wrap_slider .owl-carousel .owl-stage-outer .owl-item .item .block_gpu .info .rating {
    display: none; }
  .s_computer_component_list .computer_component_list .wrap_slider .owl-carousel .owl-stage-outer .owl-item .item .block_gpu .info {
    width: 74%; }
  .s_computer_component_list .computer_component_list .wrap_slider .owl-carousel .owl-stage-outer .owl-item .item .block_gpu .info .text {
    width: 100%; }
  .s_current_promo .current_promo .right_side_cp h4 {
    text-align: center; }
  .s_product_list .product .product_content .wrap_soc .soc {
    width: 40%; }
  .tabs .content_tab .wrap_img {
    display: block;
    text-align: center;
    width: 100%; }
  .tabs .content_tab .info_block {
    display: block;
    width: 100%;
    text-align: center; }
  .tabs ul li a {
    font-size: 36px; }
  .center {
    text-align: center; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .right_side.fix {
    opacity: 0.4;
    -webkit-opacity: 0.4;
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    filter: alpha(opacity=4);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)"; }
  .left_menu_icons {
    display: none; }
  .header .top_head .right_menu_icons ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center; }
  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer .text {
    width: 100%; }
  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .content_promo .wrap_timer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }
  .wraper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }
  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu .trex_drop_menu.modding .right_side_modding .current_promo .model_set .side_info .wrap_characteristics {
    margin-top: 30px; }
  .header .main_head .navbar .nav li .banner {
    display: none; }
  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_vraptor.open,
  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_megalodon.open,
  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_trex.open,
  .header .main_head .navbar .nav li .wrap_menu .wrap_drop_menu.menu_modding.open {
    left: 25%; }
  .header .top_head .right_menu_icons {
    text-align: center; }
    .header .top_head .right_menu_icons ul li {
      height: 49px; }
  .header .main_head .navbar {
    display: none;
    float: right;
    min-width: 295px;
    text-align: right;
    background-color: #1b1b1b;
    top: 60px;
    position: absolute;
    right: 15px;
    z-index: 10;
    opacity: 0.9;
    width: 130%; }
    .header .main_head .navbar .nav li {
      display: block;
      margin-bottom: 40px; }
  .main .content .s_slider .owl-carousel .owl-controls .owl-nav {
    display: none; }
  .main .content .s_slider .slider .slide .slide-wrap .slide-inner .wrap_text h3 {
    font-size: 170px; }
  .main .content .s_slider .slider .slide .slide-wrap .slide-inner .wrap_text h3.slide_3 {
    font-size: 84px; }
  .main .content .s_slider .slider .slide .slide-wrap .slide-inner .wrap_text h3.slide_2 {
    font-size: 100px; }
  .main .content .s_slider .owl-carousel .owl-controls .owl-dots .owl-dot {
    height: 50%; }
  .s_monitor .info_monitor {
    margin-left: 0; }
  .s_monitor .wrap_characteristics .charact_block {
    margin: 0; }
  .s_products .under_hr {
    text-align: center; }
  .s_products_np .under_hr {
    text-align: center; }
  .s_product_list .product .wrap_img {
    text-align: center;
    width: 100%; }
  .s_product_list .product .product_content {
    width: 100%; }
  .s_computer_component_list .computer_component_list .wrap_slider .owl-carousel .owl-stage-outer .owl-item .item .block_gpu .info {
    width: 65%; }
  .s_computer_component_list .computer_component_list .wrap_slider .owl-carousel .owl-stage-outer .owl-item .item .block_gpu .info .text h6 {
    margin-bottom: 2%;
    padding-top: 2%; }
  .first_screen .inner_first_creen .current_promo {
    margin: 12px 0 0 -28px;
    padding: 26px 4px; }
  .first_screen .inner_first_creen .model_set .buy_now {
    text-align: left; }
  .first_screen .inner_first_creen .model_set .side_info {
    float: none; }
  .tabs .content_tab p {
    padding: 10px; }
    .tabs .content_tab p .tabs ul li a {
      font-size: 32px; }
  .footer .wrap-col {
    text-align: center; }
  .footer .inner_footer h5 {
    text-align: center; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .left_menu_icons {
    display: none; }
  .header .top_head .right_menu_icons ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center; }
  .header_main h1 {
    font-size: 226%; }
  .header .main_head .navbar .nav {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column; }
  .header .main_head .navbar .nav li .wrap_menu {
    position: static; }
  .header .top_head .right_menu_icons {
    text-align: center; }
    .header .top_head .right_menu_icons ul li {
      height: 49px; }
  .right_side.fix {
    opacity: 0.1;
    -webkit-opacity: 0.1;
    -khtml-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)"; }
  .main .content .s_slider .owl-carousel .owl-controls .owl-nav {
    display: none; }
  .main .content .s_slider .slider .slide .slide-wrap .slide-inner .wrap_text h3 {
    font-size: 120px; }
  .main .content .s_slider .slider .slide .slide-wrap .slide-inner .wrap_text h3.slide_3 {
    font-size: 54px; }
  .main .content .s_slider .slider .slide .slide-wrap .slide-inner .wrap_text h3.slide_2 {
    font-size: 70px; }
  .main .content .s_slider .owl-carousel .owl-controls .owl-dots .owl-dot {
    height: 28%; }
  .s_products .products {
    margin: 0 auto; }
  .s_sign_up {
    width: 284px; }
  .s_sign_up .sign_up {
    margin: 0; }
  .s_sign_up .sign_up .text h2 {
    font-size: 16px; }
  .s_sign_up .sign_up .text p {
    width: 200px; }
  .s_sign_up .sign_up .wrap_button {
    margin: 0; }
  .s_products .r_block {
    margin: 30px 0; }
  .s_products .products .wrap_h3 h3 {
    font-size: 34px; }
  .s_products .products .wrap_h3 {
    width: 260px; }
  .s_products .products .item {
    margin: 30px 0; }
  .s_products .products .wrap_slider .slider .owl-nav {
    display: none;
    right: 50%;
    top: -1%; }
  .s_top_container .top_container {
    max-width: 280px;
    margin: 0; }
  .s_top_container .top_container .text h4 {
    font-size: 16px;
    text-align: center; }
  .s_top_container .top_container .text small {
    font-size: 14px; }
  .s_top_container .border_conteiner {
    max-width: 270px;
    margin: 0 10px; }
  .s_top_container .border_conteiner .right_top_container {
    max-width: 254px; }
  .s_top_container .border_conteiner .right_top_container .text h4 {
    text-align: center;
    font-size: 15px; }
  .s_top_container .border_conteiner .right_top_container .text small {
    font-size: 14px; }
  .s_monitor .info_monitor {
    margin-left: 0; }
  .s_monitor .wrap_characteristics .charact_block {
    margin: 0; }
  .s_monitor .info_monitor .wrap_h4 .soc_side {
    float: none; }
  .main_shopping_cart .no_padding .wrap_content .item_block .data-product {
    font-size: 10px;
    margin-left: 0; }
  .main_shopping_cart .no_padding .wrap_content .item_block .wrap_price_comp p {
    font-size: 10px; }
  .main_shopping_cart .no_padding .wrap_content .item_block .wrap_img {
    display: block; }
  .main_shopping_cart .no_padding .wrap_content .item_block .data-product {
    display: block;
    width: 176px; }
  .main_shopping_cart .no_padding .wrap_content .item_block .wrap_price_comp {
    float: none;
    display: block;
    width: 150px;
    margin-top: 30px; }
  .main_shopping_cart .no_padding .wrap_content .item_block .wrap_price_comp .icon-cross {
    top: 20px;
    right: 70px;
    position: absolute; }
  .s_products_np .under_hr {
    text-align: center; }
  .first_screen .inner_first_creen .current_promo {
    margin: 12px 0 0 -28px;
    padding: 26px 4px;
    min-height: 650px; }
  .first_screen .inner_first_creen .model_set .wrap_img {
    display: block; }
  .first_screen .inner_first_creen .model_set .buy_now {
    text-align: left; }
  .first_screen .inner_first_creen .model_set .side_info {
    float: none; }
  .first_screen .inner_first_creen .current_promo .wrap_head h4 {
    font-size: 25px; }
  .first_screen .inner_first_creen .current_promo .content_promo {
    max-width: 350px; }
  .first_screen .inner_first_creen .current_promo {
    max-width: 356px;
    text-align: center; }
  .first_screen .inner_first_creen .model_set .buy_now .button {
    padding: 16px; }
  .wrap_main_body .main_body .categories_list .header_list .top_header .product_page {
    margin: 10px 0 20px; }
  .wrap_main_body .pagination_top .product_page ul li:nth-child(2), .wrap_main_body .pagination_top .product_page ul li:nth-child(13) {
    display: none; }
  .s_computer_component_list .computer_component_list .wrap_slider .owl-carousel .owl-stage-outer .owl-item .item .block_gpu .wrap_img {
    display: none; }
  .s_computer_component_list .computer_component_list .wrap_slider .owl-carousel .owl-stage-outer .owl-item .item .block_gpu .info {
    width: 100%; }
  .s_current_promo .current_promo .right_side_cp .wrap_stock .wrap_timer {
    display: block; }
  .s_current_promo .current_promo .right_side_cp .wrap_stock .buy_now {
    display: block;
    margin-top: 50px; }
  .s_current_promo .current_promo .right_side_cp .wrap_stock .buy_now .price {
    display: inline-block;
    padding-bottom: 30px; }
  .s_current_promo .current_promo .right_side_cp .wrap_stock {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    min-height: 152px;
    padding-bottom: 10px;
    height: 100%; }
  .s_current_promo .current_promo .right_side_cp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    min-height: 152px;
    padding-bottom: 10px; }
  .s_product_list .product .product_content .wrap_soc .soc {
    display: none; }
  .s_product_list .product .product_content .wrap_soc .buy_now {
    width: 100%;
    text-align: center; }
  .tabs ul li a {
    font-size: 32px; }
  .tabs.megalodon_section ul li a {
    font-size: 15px; }
  .tabs .content_tab .s_product_list .product .product_content .wrap_soc {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    white-space: nowrap; }
  .tabs .content_tab .s_product_list .product .product_content .wrap_soc .soc {
    display: none; }
  .tabs .content_tab .s_product_list .product .product_content .wrap_soc .buy_now {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between; }
  .tabs .content_tab .s_product_list .product .wrap_h3 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    white-space: nowrap; }
  .tabs .content_tab .s_product_list .product .wrap_h3 a {
    margin-left: 5px; }
  .footer .inner_footer {
    height: 1580px; }
  .footer .inner_footer .submit .input-submit .input_submit {
    width: 50%; }
  .footer .copyright p {
    font-size: 14px;
    width: 280px; }
  .footer .wrap-col {
    text-align: center; }
  .footer .inner_footer h5 {
    text-align: center; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .navbar {
    display: block !important; } }
